.footer {
    background: var(--verde-claro);
    padding: 32px;
    text-align: center;
    font-size: 15px;
}

.footer .footer_nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}